:root{
    --strongCyan: hsl(172, 67%, 45%);

    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--lightGrayishCyan);
    text-align: center;
    margin: 0px;
}

.logo{
    margin: 51px auto 35px auto;
}

main{
    background-color: var(--white);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    padding-inline: 31px;
    padding-block: 31px;
    text-align: left;

    color: var(--darkGrayishCyan);
}

label{
    margin-bottom: 10px;
    display: flex;
}

.error{
    color: red;
    margin: auto 0px auto auto;
}

.hidden{
    display: none;
}


input{
    border: none;
    box-sizing: border-box;
    font-size: 1.5em;
    font-family: inherit;
}

.num-input{
    -moz-appearance:textfield; /*Diable spinner (Firefox) */
    border-radius: 5px;
    width: 100%;
    padding-inline: 17px;
    background-color: var(--veryLightGrayishCyan);
    color: var(--veryDarkCyan);
    text-align: right;
    height: 48px;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-position-y: center;
}

/*Disable spinner for input (non-Firefox browser)*/
.num-input::-webkit-inner-spin-button, 
.num-input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.input-bill{
    background-image: url("./images/icon-dollar.svg");
    background-position-x: 20px;
}



.tip-select-section{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 6px;
    column-gap: 17px;
    margin-top: -17px;
    margin-bottom: 45px;
}

.tip-select-section label{
    height: 48px;
    display: inline-block;
}

input[type=radio]{
    appearance: none;

}

input[type=radio] ~ div:first-of-type{
    background-color: var(--veryDarkCyan);
    color: var(--veryLightGrayishCyan);
    font-size: 1.5em;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

input[type=radio]:checked ~ div:first-of-type{
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);

}

input[type=radio] ~ div:first-of-type:hover{
    background-color: var(--lightGrayishCyan);
    color: var(--veryDarkCyan);
}

.custom-input{
    text-align: center;
    margin-top: 24px;
    box-sizing: border-box;
    margin-bottom: -13px;
}

.custom-input::placeholder{
    color: var(--darkGrayishCyan);
}



.input-no-ppl{
    background-image: url("./images/icon-person.svg");
    background-position-x: 18px;
}



.results-section{
    background-color: var(--veryDarkCyan);
    border-radius: 15px;
    margin-inline: -7px;
    padding: 20px;
    box-sizing: border-box;
}

.result-line{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

.result-label{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.result-label h1{
    color: var(--white);
    font-size: 1em;
    margin: 0px;
}

.result-label p{
    color: var(--strongCyan);
    font-size: 0.8em;
    margin: 2px 0px 0px 0px;
}

.result-display{
    font-size: 2em;
    color: var(--strongCyan);
}

.results-section button{
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 47px;
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 31px 0px 4px 0px;
}

.results-section button:hover{
    background-color: var(--lightGrayishCyan);
}




.attribution{
    position: fixed;
    right: 0px;
    bottom: 0px;
    font-size: 10px;
}



/*Desktop Version*/
@media only screen and (min-width: 1000px){
    .logo{
        margin-top: 100px;
    }

    main{
        box-sizing: border-box;
        width: 922px;
        height: 484px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        padding: 32px;
        gap: 33px;
    }

    form{
        width: 50%;
        padding-block: 13px;
        padding-inline: 15px;
    }

    .tip-select-section{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 14px;
    }

    .custom-input{
        padding-inline: 10px;
    }



    
    .results-section{
        width: 50%;
        margin-inline: 0px;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }

    .result-line{
        margin: 0px 0px 26px 0px;
    }

    .result-label{
        margin: 14px 0px 0px 0px;
    }

    .results-section button{
        align-self: flex-end;
        margin: auto 0px 0px 0px;
    }
    
    .result-display{
        font-size: 2.9em;
    }


}